node_modules
**/node_modules
**/.git
**/.gitignore
**/.gitkeep
**/.env
**/dist
**/.vite
**/build
**/renderer
**/release
**/logs
**/.cache
**/tmp
**/temp
mobile/android
mobile/ios
mobile/node_modules
mobile/android/app/build
mobile/android/build
mobile/android/.gradle
mobile/android/.cxx
mobile/android/capacitor-cordova-android-plugins
mobile/android/local.properties
mobile/ios/App/build
mobile/ios/build
mobile/ios/Pods
mobile/ios/DerivedData
mobile/ios/.symlinks
mobile/ios/capacitor-cordova-ios-plugins
